p{ 
	text-align: center;
	}
body{
	background-color: #CCCCCC;
		color: 000;
		
}
em strong{
	color: #FF0193;
	}

h1{
	color: #9914FF;
}
#banner {
    width: 100%;
} 

.items{
	font-style: italic;
	list-style: none;
}
#beneficios{
	width:100%;
}